* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
}

/* Colors */

:root {
  --background-color: #152c5b;
  --accent-color: #37e2d5;
  --dark-color: #0c0047;
  --light-grey: #969696;
  --white-color: #ffffff;
  --secondary-color: #6a4bff;
  --primary-color: #00218f;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  display: inline-block;
}
.p-text {
  padding: 1rem;
  color: var(--light-grey);
}

img {
  max-width: 100%;
  display: block;
}

.hero {
  background: url(../assets/Background.jpg);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--white-color);
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

nav .logo {
  display: flex;
  align-items: center;
  width: 20px;
  gap: .5rem;
}

nav .logo h1 {
  font-size: 12px;
}

nav .nav-list {
  display: flex;
  list-style: none;
  display: none;
}

nav li a {
  margin: 0 0.8rem;
}

nav li a:hover{
  color: var(--secondary-color);
}

nav .user-auth{
  display: none;
}

.mobile-nav-icon svg{
  width: 25px;
}

.hero a {
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
}

.hero .btns {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.hero .btn:first-child {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.hero .header-title {
  font-size: 1.8rem;
  /* padding: 4rem 0 2rem 0; */
}

.hero p{
  /* display: none; */
  color: #00218f;
  text-align: left;
  display: none;
}

.hero .dashboard {
  padding: 1rem 4rem;
}


.hero .dashboard img {
  display: block;
}

.hero .header-title span {
  color: var(--accent-color);
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: auto;
  max-width: 50%;
}

.partners img {
  max-width: 30%;
}

/* Services Section */

.services {
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.services h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-color);
  padding: 1rem 0;
}

.services .p-text {
  color: var(--light-grey);
  text-align: center;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: left;
  gap: 1.3rem;
  padding: 2rem 3rem;
}

.service-card {
 
  border: 1px solid rgba(234, 234, 234, 0.5);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  color: var(--light-grey);
  
}

.service-card h3 {
  color: #343434;
  font-weight: 500;
  padding: 0.7rem 0;
}

.service-card a {
  display: inline-block;
  padding: .7rem 0;
  color: var(--secondary-color);
}

/* Team Section */

.team {
  justify-content: center;
  line-height: 1.5;
  align-items: center;
  padding: 3rem;
  background-color: #f2f2ff;
  background-image: url(../assets/team-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.team h1 {
  font-size: 1.6rem;
  padding: 1rem;
  color: #000;
}
.team .btn {
  background-color: #6a4bff;
  color: var(--white-color);
  text-decoration: none;
  display: block;
  border: none;
  width: 200px;
  margin-top: 1.5rem;
  margin-inline: auto;
  text-align: center;
}

.team .avatars {
  position: relative;
}

.team .avatars img {
  width: 25px;
  border: 1px solid var(--white-color);
  border-radius: 25px;
  position: absolute;
}

.team .users {
  padding: 1rem 0;
}

.team .p-text {
  color: var(--white-color);
}
.team .team-info {

}

.prototype-light {
 
}

/* Prices Section */

.pricing {
  text-align: center;
  font-weight: 500;
  background-color: rgba(225, 225, 225, 0.1);
}

.pricing .header-title {
  font-size: 1.8rem;
  padding: 7rem 0 2rem;
}

.pricing .duration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pricing .duration label {
  width: 70px;
  border-radius: 12px;
  padding: 1rem 1.3rem;
  position: relative;
  background: #F2F2FF;
}

.pricing .duration label::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #152C5B;
  position: absolute;
  left: 3px;
  top: 3px;
}
.prices-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: left;
  gap: 2rem;
  padding: 4rem 3rem;
  line-height: 1.2;
  
}

.price-card {
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  max-width: 350px;
}

.price-card:nth-child(2) {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.price-card h1 {
  font-size: 1.8rem;
  /* font-size: 3rem; */
  color: var(--dark-color);
  padding: 1rem 0;
}

.price-card ul {
  text-align: left;
  padding-left: 1.5rem;
}


.price-card ul li::marker {
  color: var(--dark-color);
  font-size: 2rem;
}

.price-card .btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%;
}

/* Testimonial Section */
.testimonials-container {

  padding: 4rem 2rem;
}

.testimonials-container h1 {
  font-size: 1.8rem;
  padding: 2rem;
  color: var(--dark-color);
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 2rem;
}

.testimonial-card {
  text-align: left;
  padding: 1.5rem;
  border: 1px solid rgba(234, 234, 234, 0.5);
  border-radius: 5px;
}

.testimonial-card .occupation{
  color: var(--light-grey);
}
.testimonial-card img{
  width: 60px;
  display: block;
  margin-left: 20px;
}

.testimonials .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer{

  padding: 3rem .8rem;
  background-color: #F9F9F9;
}

footer .table-list{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.table-list li {
  list-style: none;
  text-align: none;
}

.table-list lh {
  margin-bottom: 2rem;
}

.footer-top{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1200px){


}

@media screen and (min-width: 1000px) {
  nav .logo{
    width: 30px;
  }
  nav .nav-list{
    display: flex;
  }
  nav .user-auth{
    display: flex;
    gap: 1.2rem;
  }
  .hero .header-title{
    font-size: 2.6rem;
  }

  .services h1 { 
    font-size: 2.6rem;
  }

  .services .p-text {
    font-size: 1rem;
  }
.services .services-cards{
  line-height: 1.2;
}
}

@media screen and (min-width: 700px) {
  nav .logo h1 {
    font-size: 18px;
  }

  .team-info h1{
    font-size: 2rem;
    text-align: center;
  }

  .team .p-text{
    padding-right: 4rem;
  }

  .team .prototype-light{
    padding: 1rem 5rem;
  }

  .prices-container{
    line-height: 1.4;
    place-items: center;
  }

  footer .table-list{
    gap: 3rem;
  }
}